@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
.tooltip {
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
  color: black;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  opacity: 0;
  font-size: 0.75rem;
  transition: opacity 0.3s ease-in-out;
}
.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgb(0, 31, 92) transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.gradient-text {
  background-color: #313a94;
  background-image: linear-gradient(45deg, #1a2ddd, #03050f);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.gradient-text-2 {
  background-color: #313a94;
  background-image: linear-gradient(45deg, #1a1a1a, #385dff);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
